*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body{
    background: #fff;
    font-family: 'Gilroy';
}
.home{ 
    margin-left: 375px;
    margin-right: 375px;
  
}
.brand
{
    margin-left: 375px;
    margin-right: 375px;
    gap: 350px;

}
.menu_bar {
    margin-top: 40px;
    margin-bottom: 96px;
    display: flex;
    gap: 500;
    justify-content: space-between;
}
.menu{
    font-size: 14px;
    line-height: 16px;
    display:flex;
    justify-content: space-between;
    gap: 35px;
}
.menu a{
    color: black;
}
.menu_cur{
    color: #f25822;
}
.brand{
    margin-left: 375px;
    margin-right: 345px;
    }
    .titel{
        position: absolute;
        width: 522px;
        height: 222px;
        
        font-family: 'Gilroy-Bold';
    
        
        color: #000000;
        
    }
    .image{
        position: absolute;
width: 544.81px;
height: 374.84px;
    } 