@font-face { 
    font-family: "GilroyThin";
    src: url("../fonts/GilroyThin/GilroyThin.eot");
    src: url("../fonts/GilroyThin/GilroyThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GilroyThin/GilroyThin.woff") format("woff"),
    url("../fonts/GilroyThin/GilroyThin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}